## デッキ

- 今日の天気は？
- 今日の機嫌は？
- 週末の計画は？
- 計画の進捗は？
- 今日は何するの？
- 最近の気になるニュースは？
- 読んでいる本は？

- 今日学んだことは何？
- 今日の自分に満足しているか？
- 今日の反省点は何？

以下からデッキをつくる

## 今日

- [必須] 今日の天気は？
- [必須] 今日の機嫌は？
- [任意] 動画は何を見た？
- [必須] 今日は何するの？
- [任意] 何してた？
- [任意] 今日の一番の成功は何だった？
- [任意] 今日学んだことは何？
- [任意] 今日の自分に満足しているか？
- [任意] 今日の反省点は何？

## 週末

- [必須] 週末の計画は？
- [必須] 計画の進捗は？
- [任意] どこに行きたい？
- [任意] 週末にやりたいことは？
- [任意] 週末に会いたい人は？

## その他

- [任意] 最近の気になるニュースは？
- [任意] 読んでいる本は？
- [任意] 最近のお気に入りの曲は？
- [任意] 最後に自分へのエールを！
