---
title: ""
description:
date:
draft: false
categories:
  - "reading"
tags:
  - ""
---

# 読書だとやりすぎなので保留。

タグはreading

カテゴリは自由

# なぜ読む?

動機、根源的な目標。

# 何を知りたい？

具体的な目的

# どれくらいかかる？

1 タスク 25 分として

どれくらい(何タスク)かかりそうか。

可能ならタスク一覧を作成する

# どうだった？

読了後の評価感想反省
